body {
  background-image: url("/images/motorcyclebackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 1000px;
  height: auto;
  max-width: 100%;
}

video{
  opacity: 1;
  overflow: hidden;
  position: fixed;
  min-width: 100%;
  max-width: 100%;
}

#eventdescription {
  width: 80%;
  margin: auto;
  text-align: center;
}

#createdevents{
  column-count:2;
  column-fill:auto;
}

.createdeventsgroup {
  border: 1px solid white;
  border-radius: 25px;
  width: 80%;
  margin: auto;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}




.field-selector {
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.carrr {
  width: 80%;
  margin: auto;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
}
.carrr:after{
  content: "";
  display: block;
  padding-bottom: 66.6666666666666%;
}

.welcometext {
  z-index: 2;
  font-weight: bold;
}

.overlay {
  margin: 0 auto;
}

.articlewriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  text-align: center;
  width: 700px;
  padding: 50px 0px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 25px;
}

.eventwriteup {
  color: rgba(255,255,255,1);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(10,10,10,0.8);
  border-radius: 25px;
  width: 80%;
  margin:auto;
}

.profilewriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  text-align: left;
  width: 700px;
  padding: 50px 0px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 25px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}
.userdetails {
  text-align: left;
}

#profilenpic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#eventpage-container{
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: flex-start;
}

#displaycommentwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signups {
  max-width: 100%;
}



.addcommentsbox{
  border-radius: 25px;
  color: rgba(255,255,255,1);
  background-color: rgba(10,10,10,0.8);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.commentsbox{
  margin: 10px;
  border-radius: 25px;
  color: rgba(255,255,255,1);
  background-color: rgba(10,10,10,0.8);
  padding: 10px;
}

#signupcontainer{
  border-radius: 25px;
  max-width: 200px;
  min-width: 200px;
  background-color: rgba(10,10,10,0.8);
  text-align: center;
  margin: 50px 0 0 20px;
}

.commentcards {
  border-radius: 25px;
  width: 400px;
  border: 1px solid white;
  margin: 0 auto;
  color: rgba(255,255,255,1);

  padding: 10px;
}

ul{
  padding: 0;
}

.eventcards {
  text-decoration: none;
  color: rgba(255,255,255,1);
}

a:active:not(.navbarstuff){
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a.eventcards:hover:not(.navbarstuff){
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:visited:not(.navbarstuff){
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:link:not(.navbarstuff){
  text-decoration: none;
  color: rgba(255,255,255,1);
}

.postwriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  width: 80%;
  padding: 0;
  background-color: rgba(100,100,100,0.5);
  border-radius: 25px;
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,1);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

@media (max-width:600px){
  body {
    background-image: url("/images/motorcyclekidbackground.jpg");
  }
  .articlewriteup {
    width: 300px;

  }
  .registerbutton{
    display:inline-block;
  }
  .field-selector{
    width: 200px;
    overflow:hidden;
  }
  input{
    width: 200px;
  }
  textarea{
    width: 200px;
  }
  li{
    list-style-type: none;
  }
  .profilewriteup{
    width: 90%;
    margin: 0 auto;
  }
  #profilenpic{
    display:flex;
    align-items: flex-start;
  }
  #profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,1);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #eventpage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #displaycommentwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  #signupcontainer {
    max-width: 100%;
    margin: 0 auto;
  }
}
