body {
  /* background-color: yellow */
  background-image: url("/images/motorcyclebackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 1000px;
  height: auto;
  max-width: 100%;
}

.articlewriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  text-align: center;
  width: 700px;
  padding: 50px 0px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 25px;
}

.eventcards {
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:active{
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a.eventcards:hover{
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:visited{
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:link{
  text-decoration: none;
  color: rgba(255,255,255,1);
}

.postwriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  width: 80%;
  padding: 0;
  background-color: rgba(100,100,100,0.5);
  border-radius: 25px;
}

ul {
  list-style-type: none;
}

@media (max-width:600px){
  body {
    /* background-color: red */
    background-image: url("/images/motorcyclekidbackground.jpg");
  }
  .articlewriteup {
    width: 500px;
  }
}
