body {
  /* background-color: yellow */
  background-image: url("/images/motorcyclebackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 1000px;
  height: auto;
  max-width: 100%;
}

video{
  opacity: 0.8;
  object-position: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.welcometext {
  z-index: 2;
  font-weight: bold; 
}

.overlay {
  margin: 0 auto;
}

.articlewriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  text-align: center;
  width: 700px;
  padding: 50px 0px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 25px;
}

.profilewriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  text-align: left;
  width: 700px;
  padding: 50px 0px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 25px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.userdetails {
  text-align: left;
}

#eventpage-container{
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: flex-start;
}

#displaycommentwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signups {
  max-width: 100%;
}

.addcommentsbox{
  border-radius: 25px;
  color: rgba(255,255,255,1);
  background-color: rgba(10,10,10,0.8);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.commentsbox{
  margin: 10px;
  border-radius: 25px;
  color: rgba(255,255,255,1);
  background-color: rgba(10,10,10,0.8);
  padding: 10px;
}

#signupcontainer{
  border-radius: 25px;
  max-width: 200px;
  min-width: 200px;
  background-color: rgba(10,10,10,0.8);
  text-align: center;
  margin: 50px 0 0 20px;
}

/* #commentid {
  display:block;
  margin: 0 auto;
}

#submitcomment {
  text-align: center;
} */

.commentcards {
  border-radius: 25px;
  width: 400px;
  border: 1px solid white;
  margin: 0 auto;
  color: rgba(255,255,255,1);

  padding: 10px;
}

ul{
  padding: 0;
}

.eventcards {
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:active{
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a.eventcards:hover{
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:visited{
  text-decoration: none;
  color: rgba(255,255,255,1);
}
a:link{
  text-decoration: none;
  color: rgba(255,255,255,1);
}

.postwriteup {
  color: rgba(255,255,255,1);
  margin: 50px auto;
  width: 80%;
  padding: 0;
  background-color: rgba(100,100,100,0.5);
  border-radius: 25px;
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,1);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}


ul {
  list-style-type: none;
}

@media (max-width:600px){
  body {
    /* background-color: red */
    background-image: url("/images/motorcyclekidbackground.jpg");
  }
  .articlewriteup {
    width: 500px;
  }
  .registerbutton{
    display:inline-block;
  }
}
